#TableOfContents {
  text-align: left;
  overflow-y: auto;
  flex: 1;
  max-height: calc(100% - 430px);
  margin-right: 12px;
}

.app-header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 0;
  z-index: 90;
}

.app-header-social {
  position: absolute;
  bottom: 0;
}

.app-header-menu {
  justify-content: center;
}

.header-contents {
  margin-top: 10px;
  height: calc(100% - 60px);
}

@media only screen and (max-width: 940px) {
  .app-header {
    height: 50vh;
    min-height: 480px;
  }

  .header-contents {
    max-height: "fit-content";
  }

  .app-header-social {
    bottom: unset;
    position: unset;
  }

  #TableOfContents {
    text-align: left;
    overflow-y: auto;
    flex: 1;
    height: 0;
    max-height: unset;
    margin-right: 12px;
  }

  .katex-display {
    overflow-x: scroll;
    overflow-y: hidden;
    background: #22272d;
    padding: 10px;
    border: 1px dashed grey;
    max-width: 100%;
    border-radius: 4px;
  }

  .highlight {
    overflow-x: scroll;
    max-width: 100%;
  }
}
